body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aliceblue;
}

p {
    text-align: justify;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.content {
    text-align: left;
    margin-bottom: 20px;
}

.box {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
    text-align: left;
    margin-bottom: 20px;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

form textarea {
    height: 100px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(92, 92, 205);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
}

.back,
a {
    margin-top: 10px;
    background-color: rgb(92, 92, 205);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}